/arquivos_download
/arquivos_download/bem_candidato
/arquivos_download/candidato 
/arquivos_download/motivo_cassacao
/arquivos_download/rede_social_candidato
/arquivos_download/votacao_nominal_municipio_zona
